<% include partials/header %>
    <link rel="stylesheet" href="../assets/css/style.css">
    <main class="mt-4 rounded">
        <section class="montserrat" style="height:250px;">
            <div class="row pt-2 pl-2">
                <div class="col-3 avatar-cover">
                    <a class="ml-5 mt-5 cursor-default">
                        <img src="../assets/images/avatar.jpeg" alt="Ahmet Buğra Çakıcı" class="avatar w-100">
                    </a>
                </div>
                <div class="avatar-texts col-9 text-center pt-5">
                    <h2 class="text-white name"><b></b></h2>
                    <h4 class="text-white mt-2 title"></h4>
                    <div class="mt-2">
                        <h2 class="d-inline pr-2 linkedin"><a href="" target="blank" class="text-white linkedin"><i class="fab fa-linkedin social"></i></a></h2>
                        <h2 class="d-inline pr-2 github"><a href="#" target="blank" class="text-white github"><i class="fab fa-github-square social"></i></a></h2>
                        <h2 class="d-inline pr-2 facebook"><a href="" target="blank" class="text-white facebook"><i class="fab fa-facebook-square social"></i></a></h2>
                        <h2 class="d-inline pr-2 instagram"><a href="" target="blank" class="text-white instagram"><i class="fab fa-instagram social"></i></a></h2>
                        <h2 class="d-inline pr-2 pinterest"><a href="" target="blank" class="text-white pinterest"><i class="fab fa-pinterest-p social"></i></a></h2>
                        <h2 class="d-inline pr-2 googlep"><a href="" target="blank" class="text-white googlep"><i class="fab fa-google-plus-g social"></i></a></h2>
                        <h2 class="d-inline pr-2 medium"><a href="" target="blank" class="text-white medium"><i class="fab fa-medium social"></i></a></h2>
                        <h2 class="d-inline pr-2 reddit"><a href="" target="blank" class="text-white reddit"><i class="fab fa-reddit-alien social"></i></a></h2>
                        <h2 class="d-inline pr-2 twitter"><a href="" target="blank" class="text-white twitter"><i class="fab fa-twitter social"></i></a></h2>
                        <h2 class="d-inline pr-2 youtube"><a href="" target="blank" class="text-white youtube"><i class="fab fa-youtube social"></i></a></h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-area h-25 bg-white p-5 roboto">
            <div class="row">
                <div class="about-me col-6">
                    <div class="p-2 pt-3">
                        <h5 class="montserrat"> <b>About</b> </h5>
                        <p class="about"></p>
                    </div>
                </div>
                <div class="addresses col-6 pl-5">
                    <table style="border-collapse: separate;  border-spacing: 0.5em;">
                        <tr>
                            <td>Place</td>
                            <td class="pl-5 address-items"><a href="#" class="country text-success"></a></td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td class="pl-5 address-items"><a href="" class="mail_address text-success"></a></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td class="pl-5 address-items"><a href="" class="text-success phone_number"></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <script>
        $.get("/api/homepage", function(docs, status) {
            docs.map(data => {
                $(".name").text(data.name);
                $(".title").text(data.title);
                $(".about").text(data.about);
                $(".country").text(data.country);
                $(".mail_address").text(data.mail_address);
                $(".phone_number").text(data.phone_number);

                $("a.mail_address").attr("href", `mailto:${data.mail_address}`)
                $("a.phone_number").attr("href", `tel:${data.phone_number}`)

                $.each(data.social_icons, function(i, item) {
                    if (item.state != "true") {
                        $(`h2.${i}`).css({
                            'cssText': 'display:none !important'
                        });
                    } else {
                        $(`a.${i}`).attr("href", item.link)
                    }
                });
            })
        });
    </script>
    <% include partials/footer %>