<!-- THIS VIEW IS DEPRECATED -->
<!-- IT IS STATIC , NOT EDITABLE FROM ADMIN PANEL -->


<% include partials/header %>
    <main class="mt-4 rounded">
        <section class="h-25 montserrat">
            <h2 class="text-center text-white" style="padding-top:1rem;">
                <p><b>Services</b></p>
            </h2>
        </section>

        <section class="h-75 bg-white p-5">
            <div class="row text-center">
                <div class="service col-4">
                    <div class="dot">
                        <p class="services-icon text-center"><i class="fas fa-database text-secondary"></i></p>
                    </div>
                    <h5><b>Database</b></h5>
                    <p>Lorem ipsum dolor sit amet. To armoni pregse awed loary anda broahny. Readir oaq @ simbole tiraqso ? Anda lor ipsum da sitto metali anda treqson.</p>
                </div>
                <div class="service col-4">
                    <div class="dot">
                        <p class="services-icon text-center"><i class="fas fa-server text-secondary"></i></p>
                    </div>
                    <h5><b>Backend</b></h5>
                    <p>Lorem ipsum dolor sit amet. To armoni pregse awed loary anda broahny. Readir oaq @ simbole tiraqso ? Anda lor ipsum da sitto metali anda treqson.</p>
                </div>
                <div class="service col-4">
                    <div class="dot">
                        <p class="services-icon text-center"><i class="fas fa-file-code text-secondary"></i></p>
                    </div>
                    <h5><b>Frontend</b></h5>
                    <p>Lorem ipsum dolor sit amet. To armoni pregse awed loary anda broahny. Readir oaq @ simbole tiraqso ? Anda lor ipsum da sitto metali anda treqson.</p>
                </div>
            </div>
        </section>
    </main>
    <% include partials/footer %>